.main-ico {
    max-height: 50px;
}

html {
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4c2d62;
    color: white;
    text-align: center;
    padding: 10px;
}