{% extends "layout.html" %}

{% block title %}Browse Groups{% endblock %}

{% block styles %}<style>
    .form-control {
        border-radius: 50px;
    }
    #groups {
        margin-top: 15px;
        margin-left: 15px;
        margin-right: 15px;
    }
</style>{% endblock %}

{% block main %}
    <h1>Search Group</h1>
    <input name="q" id="q" class="form-control mr-sm-2" type="search" placeholder="Group Name" aria-label="Search">
    <div id="groups"></div>
{% endblock %}

{% block script %}
<script>
    let q = document.getElementById("q");

    async function loadVideos(first_time) {
        if (first_time) {
            q.value = "";
        }
        let responce = await fetch("/browse-groups-api?q=" + encodeURIComponent(q.value));
        let data = await responce.text();
        document.getElementById("groups").innerHTML = data;
    }

    loadVideos(true);
    q.addEventListener("input", () => loadVideos(false));
</script>
{% endblock %}