<style>
    body {
        text-align: left;
    }

    h1 {
        text-align: center;
        margin-top: 10px;
    }

    p {
        color: gray;
    }
    .jl-button {
        margin-right: 15px;
        margin-left: auto;
    }
    .sup {
        color: gray;
    }
    .description {
        margin-top: 5px;
    }
</style>
{% set counter = namespace(value=0) %}

{% for group in groups %}
    <!-- if the group is public OR check if user owns the group -->
    {% if group[3] or user_id == group[4] or group[1] == q or group[2] == q %}
        {% if not loop.first %}<hr>{% endif %}
        <div>
            <div class="card-body d-flex justify-content-between align-items-center">
                <div>
                    <h5 class="card-title mb-0">{{ group[1] }} <sup class="sup"><small>{% if group[3] %} Public{% else %} Private{% endif %}</small></sup></h5>
                    <p class="card-text mb-0 description">{{ group[2] }}</p>
                </div>

                <!-- buttons -->
                {% if not group[5] %} <!-- if user is not in group -->
                <a href="/group/{{ group[0] }}/join" class="btn btn-primary jl-button">Join</a>
                {% else %} <!-- if user is in group -->
                <a href="/group/{{ group[0] }}/leave" class="btn btn-danger jl-button">Leave</a>
                {% endif %}
                {% if group[4] == user_id %} <!-- if user owns the group -->
                <a href="/group/{{ group[0] }}/edit" class="btn btn-success">Edit</a>
                {% endif %}
            </div>
        </div>
        {% set counter.value = counter.value + 1 %}
    {% endif %}
{% endfor %}


{% if counter.value == 0 %}
<div style="text-align: center;">
    <p>No groups found</p>
    <p>If you are looking for a private group, you must write the <u>entire name</u> correctly!</p>
</div>
{% else %}
<br>
    <p>Total groups displayed: {{ counter.value }}</p>
{% endif %}