{% extends "layout.html" %}

{% block title %}home{% endblock %}

{% block styles %}<style>
    .video {
        max-height: 450px;
    }
    .name-box {
        padding: 5px;
        padding-bottom: 0px;
    }
    .card {
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .sf-box {
        background-color: #160d1c;
        padding: 10px;
    }
    .f-box {
        display: inline-flex;
    }
    /* phone */
    @media only screen and (max-width: 600px) {
        .video {
            max-height: 80%;
        }
        .card {
            max-width: 96%;
            margin: 0 auto;
            margin-top: 5px;
            float: none;
        }
    }
</style>{% endblock %}

{% block main %}
<form class="form-inline sf-box" method="post">
    <input name="q" id="q" style="border-radius: 50px;" class="form-control mr-sm-2" type="search" placeholder="Search"
        aria-label="Search">
    <!-- filter -->
    <div class="f-box">
        <select name="group" id="group" class="form-select form-select-sm" aria-label=".form-select-sm example" style="margin-top: 3px; border-radius: 15px;">
            {% if groups %}
                <option value="All" selected>All groups</option>
            {% endif %}
            {% for group in groups %}
                <option value="{{ group[0] }}">{{ group[1] }}</option>
            {% endfor %}
        </select>
    </div>
</form>
<div class="container text-center" id="videos"></div>
{% endblock %}
{% block script %}<script src="/static/index.js"></script>{% endblock %}
