{% extends "layout.html" %}

{% block title %}Options{% endblock %}

{% block styles %}<style>
html {
    margin-left: 15px;
    margin-right: 15px;
    text-align: left;
}
h1 {
    text-align: center;
    margin-top: 10px;
}
p {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 20px;
}
</style>{% endblock %}

{% block main %}
<h1>Options</h1><hr>
<div class="menu-item" onclick="handleOption('create')">
    <p>Create Group</p>
</div><hr>
<div class="menu-item" onclick="handleOption('browse')">
    <p>Browse Group</p>
</div><hr>
<div class="menu-item" onclick="handleOption('delete')">
    <p style="color: red;">Delete Acount</p>
</div><hr>
{% endblock %}

{% block script %}<script>
function handleOption(action) {
    switch(action) {
        case 'create':
            window.location.href = '/create-group';
            break;
        case 'browse':
            window.location.href = '/browse-groups';
            break;
        // TODO: add
        case 'delete':
            alert('Are you sure you want to delete your account?\nUsername: {{ username }}.');
            alert('This action cannot be undone.\nUsername: {{ username }}.');
            alert('All data will be permanently deleted.\nUsername: {{ username }}.');
            alert('This includes all groups, videos, and comments.\nUsername: {{ username }}.');
            prompt("Type DELETE ACCOUNT to confirm:\nUsername: {{ username }}.");
            if (prompt == 'DELETE ACCOUNT') {
                window.location.href = '/delete-account/{{ user_id }}';
                break;
            }
            alert('Account was not deleted.');
            break;
    }
}
</script>{% endblock %}