<div class="row row-cols-auto">
{% for video in videos %}
<div class="card h-100">
    <!-- video's video-->
    {% if video[0] %}
    <video controls class="video">
        <source src="{{ video[0] }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    {% endif %}
    <!-- video's details-->
    <div class="text-center name-box">
        <!-- video's name-->
        <h5 class="fw-bolder">{{ video[1] }}</h5>
    </div>
</div>
{% endfor %}
{% if videos|length == 0 %}
<div style="color: gray; margin-left: auto; margin-right: auto; padding-top: 20px;">
    <p style="margin: 0%;">No videos found.</p>
</div>
{% endif %}
<div style="margin-bottom: 300px;"></div>
</div>
