{% extends "layout.html" %}

{% block title %}Upload Video{% endblock %}

{% block styles %}<style>
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
}
h1 {
    color: #2c3e50;
    text-align: center;
}
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
label {
    display: block;
    margin-bottom: 5px;
    color: #2c3e50;
}
input[type="file"],
input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="file"] {
    border: none;
    padding: 0;
}
button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}
button:hover {
    background-color: #2980b9;
}
#progress-bar {
            width: 0%;
            height: 20px;
            background-color: #4CAF50;
            border-radius: 3px;
            transition: width 500ms ease-in-out;
        }
</style>{% endblock %}

{% block main %}
    <h1><b>Upload Video</b></h1>
    <form id="uploadForm">
        <label for="video">Video: *</label>
        <input id="video" type="file" accept="video/*" required>
        
        <label for="name">Name: *</label>
        <input id="name" type="text" placeholder="Name" required>
        
        <label for="group">Group:</label>
        <select id="group" style="border: 1px solid #ddd; border-radius: 4px; padding: 8px; width: 100%;">
            <option value="None" disabled selected>Select Group</option>
            {% for group in groups %}
            <option value="{{ group[0] }}">{{ group[1] }}</option>
            {% endfor %}
        </select>
        
        <label for="description">Description:</label>
        <input id="description" type="text" name="description" placeholder="Video Description">

        <button type="submit">Upload</button>
    </form>
    <div id="progress">
       <div id="progress-bar"></div>
    </div>
    <p id="status"></p>
{% endblock %}

{% block script %}<script src="{{ url_for('static', filename='uploade.js') }}"></script>{% endblock %}